{% extends 'layer.html' %}
{% block contents %}
<h2>회원가입</h2>
<script src="http://code.jquery.com/jquery-1.10.2.js" type="text/javascript"></script>
<script>
var username_check, nickname_check, email_check;

function rematch(x){
    console.log(x)
    if(x=="username_id"){
        username_check = false
        $('#username_check').text("중복된 확인을 해주세요!");
        $('#username_check').css("color", "red");
    } else if (x=="nickname_id") {
        nickname_check = false
        $('#nickname_check').text("중복된 확인을 해주세요!");
        $('#nickname_check').css("color", "red");
    } else if (x=="email_id"){
        email_check = false
        $('#email_check').text("중복된 확인을 해주세요!");
        $('#email_check').css("color", "red");
    }
    $('#user_submit').attr("disabled", true);
    $('#overlap_id').text("중복확인을 해주세요!");
}

//중복 확인하는 ajax 함수
function overlap(x, region){
$.ajax({
    // type을 설정합니다.
    type : 'GET',
    url : "{% url 'account:ajax' 'abc' 'region' %}".replace(/abc/, x.toString()).replace(/region/, region.toString()),
    success : function (data) {
        // 만약 주는 녀석이 region에 따른 녀석이면 region에 따른 녀석만 변경
        if(data["check"]){
            if (region == "username"){
                $('#username_check').text("중복된 아이디가 존재합니다");
                $('#username_check').css("color", "red");
                username_check = false;
            }
            else if (region == "nickname"){
                $('#nickname_check').text("중복된 닉네임이 존재합니다");
                $('#nickname_check').css("color", "red");
                nickname_check = false;
            }
            else if (region == "email"){
                $('#email_check').text("중복된 이메일이 존재합니다");
                $('#email_check').css("color", "red");
                email_check = false;
            }
        } else {
            if (region == "username"){
                $('#username_check').text("사용 가능한 아이디 입니다");
                $('#username_check').css("color", "blue");
                username_check = true;
            }
            else if (region == "nickname"){
                $('#nickname_check').text("사용 가능한 닉네임 입니다");
                $('#nickname_check').css("color", "blue");
                nickname_check = true;
            }
            else if (region == "email"){
                $('#email_check').text("사용 가능한 이메일 입니다");
                $('#email_check').css("color", "blue");
                email_check = true;
            }
        }
    },
    error: function () { 
        if (region == "username"){
            $('#username_check').text("아이디를 입력해주세요");
            username_check = false;
        }
        else if (region == "nickname"){
            $('#nickname_check').text("닉네임을 입력해주세요");
            nickname_check = false;
        }
        else if (region == "email"){
            $('#email_check').text("이메일을 입력해주세요");
            email_check = false;
        }
    },
    complete: function() {
        if (username_check && nickname_check && email_check){
            $('#user_submit').attr("disabled", false);
            $('#overlap_id').text("회원가입 가능합니다!");
        } else {
            $('#user_submit').attr("disabled", true);
            $('#overlap_id').text("중복확인을 해주세요!");
        }
    }
});
}
</script>
{% block name %}
{% endblock %}
{% endblock %}