{% extends 'accountlayout/profilelayer.html' %}
{% block name %}
<script>
function modify_profile() {
  var r = confirm("수정된 정보로 적용하시겠습니까?");
  if (r == true) {
    return true;
  } else {
    return false;
  }
}

function delete_profile() {
    var r = prompt("정말로 아이디를 삭제하시겠습니까?\n삭제를 원하면 \"삭제\"를 입력하고 확인을 눌러주세요!\n(삭제하면 복구는 불가능🚫 합니다!)");
    if (r == "삭제") {
        location.href = "{% url 'account:del_user' %}";
        alert("그 동안 감사했습니다!");
    } else {
        return;
    }
}

function rematch(x){
    var nickname_check;
    if (x=="nickname_id") {
        nickname_check = false
        $('#modify_check').css("display", "block");
        $('#nickname_check').text("중복된 확인을 해주세요!");
        $('#nickname_check').css("color", "red");
    }
    $('#modify_submit').attr("disabled", true);
    $('#overlap_id').text("중복확인을 해주세요!");
}

function modify_overlap(x, region){
    $.ajax({
        // type을 설정합니다.
        type : 'GET',
        url : "{% url 'account:ajax' 'abc' 'region' %}".replace(/abc/, x.toString()).replace(/region/, region.toString()),
        success : function (data) {
            // 만약 주는 녀석이 region에 따른 녀석이면 region에 따른 녀석만 변경
            if(data["check"]){
                if (region == "nickname"){
                    $('#nickname_check').text("중복된 닉네임이 존재합니다");
                    $('#nickname_check').css("color", "red");
                    nickname_check = false;
                }
            } else {
                if  (region == "nickname"){
                    $('#nickname_check').text("사용 가능한 닉네임 입니다");
                    $('#nickname_check').css("color", "blue");
                    nickname_check = true;
                }
            }
        },
        error: function () { 
            if (region == "nickname"){
                $('#nickname_check').text("닉네임을 입력해주세요");
                nickname_check = false;
            }
        },
        complete: function() {
            if (nickname_check){
                $('#modify_submit').attr("disabled", false);
            } else {
                $('#modify_submit').attr("disabled", true);
                $('#overlap_id').text("중복확인을 해주세요!");
            }
        }
    });
    }

</script>
<div class="card bg-light mb-3" style="width:fit-content;margin:auto;padding: 20px;">
    <div style="text-align: center;" class="card-header"><h4>회원정보</h4></div>
    <div class="card-body">
        <div style="text-align: center;">
        <h4>프로필 사진</h4>
        <p>{% if user.profile.Image %}<img alt="{{user.profile.Name}}" width="100" height="100" src="{{user.profile.Image.url}}">{% else %}설정하지 않았습니다!{% endif %}</p>
        </div>
        <table style="margin:auto;">
            <tr>
                <td><b>닉네임 &nbsp;&nbsp; </b></td><td style="text-align: center;">{{user.profile.Name}}</td>
            </tr>
            <tr>
                <td><b>이메일 &nbsp;&nbsp; </b></td><td>{{user.profile.Email}}</td>
            </tr>
        </table>
        <p></p>
        <div style="text-align: center;">
            <p><a href="{% url 'account:donotalert_board' %}">알림설정</a></p>
            <p><a href="{% url 'account:like_board' %}">좋아요한 게시판</a></p>
            <p><a href="{% url 'account:favorite_board' %}">즐겨찾기</a></p>
            <p><a href="{% url 'account:alert_board' %}">알림내용</a></p>
            <p><a style="color: red;cursor:pointer;" onclick="delete_profile()">회원탈퇴</a></p>
            {% if user.is_superuser %}
            <p><a href="{% url 'account:important_board' %}">중요게시판 설정</a></p>
            {% endif %}
        </div>
    </div>
    <div style="text-align: center;" class="card-footer">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">개인정보 수정</button>
    </div>
</div>
    
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">정보 수정</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form onSubmit="return modify_profile()" action="{% url 'account:profile' %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {{profile_form.as_p}}
                <span id="nickname_check"></span>
                <input style="display: none;" id="modify_check" type="button" onclick="modify_overlap($('#nickname_id').val(), 'nickname');" value="닉네임 중복확인">
        </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button id="modify_submit" type="submit" class="btn btn-primary">수정</button>
                </div>
            </form>
      </div>
    </div>
  </div>

{% endblock %}