{% extends 'accountlayout/signuplayer.html' %}
{% block name %}

<script>
    var username_check, nickname_check, email_check;
    
    function rematch(x){
        console.log(x)
        if(x=="username_id"){
            username_check = false
            $('#username_check').text("중복된 확인을 해주세요!");
            $('#username_check').css("color", "red");
        } else if (x=="nickname_id") {
            nickname_check = false
            $('#nickname_check').text("중복된 확인을 해주세요!");
            $('#nickname_check').css("color", "red");
        } else if (x=="email_id"){
            email_check = false
            $('#email_check').text("중복된 확인을 해주세요!");
            $('#email_check').css("color", "red");
        }
        $('#user_submit').attr("disabled", true);
        $('#overlap_id').text("중복확인을 해주세요!");
    }
    
    //중복 확인하는 ajax 함수
    function overlap(x, region){
    $.ajax({
        // type을 설정합니다.
        type : 'GET',
        url : "{% url 'account:ajax' 'abc' 'region' %}".replace(/abc/, x.toString()).replace(/region/, region.toString()),
        success : function (data) {
            // 만약 주는 녀석이 region에 따른 녀석이면 region에 따른 녀석만 변경
            if(data["check"]){
                if (region == "username"){
                    $('#username_check').text("중복된 아이디가 존재합니다");
                    $('#username_check').css("color", "red");
                    username_check = false;
                }
                else if (region == "nickname"){
                    $('#nickname_check').text("중복된 닉네임이 존재합니다");
                    $('#nickname_check').css("color", "red");
                    nickname_check = false;
                }
                else if (region == "email"){
                    $('#email_check').text("중복된 이메일이 존재합니다");
                    $('#email_check').css("color", "red");
                    email_check = false;
                }
            } else {
                if (region == "username"){
                    $('#username_check').text("사용 가능한 아이디 입니다");
                    $('#username_check').css("color", "blue");
                    username_check = true;
                }
                else if (region == "nickname"){
                    $('#nickname_check').text("사용 가능한 닉네임 입니다");
                    $('#nickname_check').css("color", "blue");
                    nickname_check = true;
                }
                else if (region == "email"){
                    $('#email_check').text("사용 가능한 이메일 입니다");
                    $('#email_check').css("color", "blue");
                    email_check = true;
                }
            }
        },
        error: function () { 
            if (region == "username"){
                $('#username_check').text("아이디를 입력해주세요");
                username_check = false;
            }
            else if (region == "nickname"){
                $('#nickname_check').text("닉네임을 입력해주세요");
                nickname_check = false;
            }
            else if (region == "email"){
                $('#email_check').text("이메일을 입력해주세요");
                email_check = false;
            }
        },
        complete: function() {
            if (username_check && nickname_check && email_check){
                $('#user_submit').attr("disabled", false);
                $('#overlap_id').text("회원가입 가능합니다!");
            } else {
                $('#user_submit').attr("disabled", true);
                $('#overlap_id').text("중복확인을 해주세요!");
            }
        }
    });
    }
</script>
<style>
th {
    text-align: right;
}
</style>
<div class="card bg-light mb-3">
    <div class="card-header"><h4>회원가입</h4></div>
    <div class="card-body">
        <form enctype="multipart/form-data" action="{% url 'account:signup' %}" method="post">
            {% csrf_token %}
            <table style="margin:auto; margin-bottom: 10px;">
                <tr>
                    <td style="text-align: center;" colspan="2"><h2>READLY</h2></td>
                </tr>
                <tr>
                    <td style="text-align: right;"><b>아이디:</b></td><td><input id="username_id" name="username_id" type="text" onchange="rematch(this.id)" required> <input type="button" value="중복확인" onclick="overlap($('#username_id').val(), 'username');"> </td>
                </tr>
                <tr>
                    <td style="text-align: center;" colspan="2"><span id="username_check"></span></td>
                </tr>
                <tr>
                    <td style="text-align: right;"><b>비밀번호:</b></td><td><input name="password1" type="password" required></td>
                </tr>
                <tr>
                    <td style="text-align: right;"><b>비밀번호 확인:</b></td><td><input name="password2" type="password" required></td>
                </tr>
                <tr>
                    <td colspan="2">{{ form.as_table }}</td>
                </tr>
                <tr>
                    <td style="text-align: center;" colspan="2"><input type="button" value="닉네임 중복확인" onclick="overlap($('#nickname_id').val(), 'nickname');"></td>
                </tr>
                <tr>
                    <td style="text-align: center;" colspan="2"><span id="nickname_check"></span></td>
                </tr>
                <tr>
                    <td style="text-align: center;" colspan="2"><input type="button" value="이메일 중복확인" onclick="overlap($('#email_id').val(), 'email');"></td>
                </tr>
                <tr>
                    <td style="text-align: center;" colspan="2"><span id="email_check"></span></td>
                </tr>
                <tr>
                    <td style="text-align: center;" colspan="2"><span>✏</span></td>
                </tr>
                <tr>
                    <td style="text-align: center;" colspan="2"><input id="user_submit" type="submit" value="가입하기" disabled> <span id="overlap_id">중복확인을 해주세요!</span></td>
                </tr>
                <tr>
                    <td style="text-align: center;" colspan="2"><span>{{error}}</span></td>
                </tr>
            </table>    
        </form>
    </div>
</div>



{% endblock %}