{% extends 'layer.html' %}
{% block contents %}
<style>
    .Image_Dont, .File_Dont{
        display:none;
    }
</style>

{% if detail_getForm %}
    {% if page == 'like' %}
    <p><a href="/account/like_board">뒤로가기</a></p>
    {% elif page == 'favorite' %}
    <p><a href="/account/favorite_board">뒤로가기</a></p>
    {% elif page == 'donotalert' %}
    <p><a href="/account/donotalert_board">뒤로가기</a></p>
    {% elif page == 'alert_board' %}
    <p><a href="/account/alert_board">뒤로가기</a></p>
    {% else %}
    <p><a href="/board/{{detail_getForm.category}}">뒤로가기</a></p>
    {% endif %}
{% endif %}
{% block name %}
{% endblock %}
{% endblock %}

