{% extends 'formlayout/formlayer.html' %}
{% load post_extras %}
{% block name %}

<script>
$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})
function image_change(){
  $('#image_modify').val('true');
}

function files_change(){
  $('#files_modify').val('true');
}

function re_comment(x, y){
  var text = document.getElementById(y);
  if (x.checked == true){
    text.style.display="block";
  } else {
    text.style.display="none";
  }
}

function ajax_comment_like(x, y){
  $.ajax({
    // type을 설정합니다.
    type : 'GET',
    url : "{% url 'forms:ajax_comment_like' '00000' %}".replace(/00000/, x),
    success : function (data) {
        // 로그인 사용자 정보가 잘못 되었을 경우
        if(data["count_like"]){
          $('#countlike'+x).text(data["count_like"])
          if(data["like_state"]){
            // 좋아요를 누를 수 있음
            y.innerHTML = '<svg class="svg-icon" viewBox="0 0 20 20"><path d="M9.719,17.073l-6.562-6.51c-0.27-0.268-0.504-0.567-0.696-0.888C1.385,7.89,1.67,5.613,3.155,4.14c0.864-0.856,2.012-1.329,3.233-1.329c1.924,0,3.115,1.12,3.612,1.752c0.499-0.634,1.689-1.752,3.612-1.752c1.221,0,2.369,0.472,3.233,1.329c1.484,1.473,1.771,3.75,0.693,5.537c-0.19,0.32-0.425,0.618-0.695,0.887l-6.562,6.51C10.125,17.229,9.875,17.229,9.719,17.073 M6.388,3.61C5.379,3.61,4.431,4,3.717,4.707C2.495,5.92,2.259,7.794,3.145,9.265c0.158,0.265,0.351,0.51,0.574,0.731L10,16.228l6.281-6.232c0.224-0.221,0.416-0.466,0.573-0.729c0.887-1.472,0.651-3.346-0.571-4.56C15.57,4,14.621,3.61,13.612,3.61c-1.43,0-2.639,0.786-3.268,1.863c-0.154,0.264-0.536,0.264-0.69,0C9.029,4.397,7.82,3.61,6.388,3.61"></path></svg>'
          } else {
            // 좋아요 취소를 누를 수 있음
            y.innerHTML = '<svg class="svg-icon" viewBox="0 0 20 20"><path fill="red" d="M9.719,17.073l-6.562-6.51c-0.27-0.268-0.504-0.567-0.696-0.888C1.385,7.89,1.67,5.613,3.155,4.14c0.864-0.856,2.012-1.329,3.233-1.329c1.924,0,3.115,1.12,3.612,1.752c0.499-0.634,1.689-1.752,3.612-1.752c1.221,0,2.369,0.472,3.233,1.329c1.484,1.473,1.771,3.75,0.693,5.537c-0.19,0.32-0.425,0.618-0.695,0.887l-6.562,6.51C10.125,17.229,9.875,17.229,9.719,17.073 M6.388,3.61C5.379,3.61,4.431,4,3.717,4.707C2.495,5.92,2.259,7.794,3.145,9.265c0.158,0.265,0.351,0.51,0.574,0.731L10,16.228l6.281-6.232c0.224-0.221,0.416-0.466,0.573-0.729c0.887-1.472,0.651-3.346-0.571-4.56C15.57,4,14.621,3.61,13.612,3.61c-1.43,0-2.639,0.786-3.268,1.863c-0.154,0.264-0.536,0.264-0.69,0C9.029,4.397,7.82,3.61,6.388,3.61"></path></svg>'
          }
        }
    },
  });
}
</script>

<!-- 제목 -->
<h3>{{detail_getForm.title}}</h3>

<!-- 작성일자 -->
작성일자 : {{detail_getForm.created_at}}<br>

<!-- 작성자 -->
작성자 : {{detail_getForm.author.Name}}<br><br>

<!-- 내용 -->
<p>{{detail_getForm.body}}</p>

<!-- 사진 -->
<p>
<b>이미지 🎨</b><br>
{% for i in detail_getForm.image_set.all %}
<a href="{{i.image.url}}" download>{{i.image.name|slice:"14:"}}</a><br>
{% endfor %}
</p>

<!-- 첨부파일 -->
<p>
<b>첨부파일 💾</b><br>
{% for i in detail_getForm.files_set.all %}
<a href="{{i.files.url}}" download>{{i.files.name|slice:"11:"}}</a><br>
{% endfor %}
</p>

{% if detail_getForm.author.user.username == request.user.username %}
<!-- 수정하기 modal -->
<form enctype="multipart/form-data" action="{% url 'forms:mod_form' detail_getForm.category detail_getForm.id %}" method="post">
    {% csrf_token %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">수정하기</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">제목 :</label>
              <input name="title" type="text" class="form-control" id="recipient-name" value="{{detail_getForm.title}}" required>
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">내용 :</label>
              <textarea name="body" class="form-control" id="message-text" required>{{detail_getForm.body}}</textarea>
            </div>
            {% for i in detail_getForm.image_set.all %}
            {{i.image.name|slice:"14:"}}<br>
            {% endfor %}
            이미지 : <input onchange="image_change()" type="file" name="image" accept="image/*" multiple><br>
            {% for i in detail_getForm.files_set.all %}
            {{i.files.name|slice:"11:"}}<br>
            {% endfor %}
            첨부파일 : <input onchange="files_change()" type="file" name="files" multiple>
            <input id="image_modify" type="text" name="image_modify" value='' hidden>
            <input id="files_modify" type="text" name="files_modify" value='' hidden>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
          <button type="submit" class="btn btn-primary">수정하기</button>
        </div>
      </div>
    </div>
  </div>
</form>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">수정하기</button>
<a href="{% url 'forms:del_form' detail_getForm.category detail_getForm.id %}">삭제하기</a>
{% endif %}
<hr>

{% if user.is_authenticated %}
<form action="{% url 'forms:comment_write' detail_getForm.category detail_getForm.id %}" method="post">
    {% csrf_token %}
    {{ commentform.as_table }}
    <input type="submit" value="댓글달기">
</form>
{% endif %}

{% for comment in detail_getComment %}
<p>
<p>
<div><b>댓글</b> : {{comment.body}}</div>
<div><b>작성자</b> : {{comment.author.Name}} <br>
👍 : <span id="countlike{{comment.id}}">{{comment.mylike}}</span>
{% if user.is_authenticated %}
<span onclick="ajax_comment_like('{{comment.id}}', this)">{{comment|_checking:request.user.username|safe}}</span>
{% endif %}
</div>
</p>
{% if user.is_authenticated %}
<p><input id="checkBox{{comment.id}}" type="checkbox" name="re_comment" value="답글" onclick="re_comment(this, 're_comment{{comment.id}}')"> 답글달기</p>
<div style="display: none;" id=re_comment{{comment.id}}>
<form action="{% url 'forms:recomment_write' detail_getForm.category detail_getForm.id comment.id %}" method="post">
    {% csrf_token %}
    {{ commentform.as_table }}
    <p><input type="submit" value="댓글달기"></p>
</form>
</div>
{% endif %}

{% for re_comment in comment.comment_set.all %}
<!-- 대체로 _set은 앞에는 class 이름이다!! -->
<p>
&nbsp;&nbsp;&nbsp;&nbsp;<b>답글 내용</b> : {{re_comment.body}}<br>
&nbsp;&nbsp;&nbsp;&nbsp;<b>작성자</b> : {{re_comment.author.Name}}<br>
&nbsp;&nbsp;&nbsp;&nbsp;👍 : <span id="countlike{{re_comment.id}}">{{re_comment.mylike}}</span>
{% if user.is_authenticated %}
<span onclick="ajax_comment_like('{{re_comment.id}}', this)">{{re_comment|_checking:request.user.username|safe}}</span>
{% endif %}
<br>
</p>

{% endfor %}
<hr>

</p>
{% endfor %}


{% endblock %}