{% extends 'formlayout/formlayer.html' %}
{% load post_extras %}
{% block name %}

<script>
$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})
function image_change(){
  $('#image_modify').val('true');
}

function files_change(){
  $('#files_modify').val('true');
}

function re_comment(x, y){
  var text = document.getElementById(y);
  if (x.checked == true){
    text.style.display="block";
  } else {
    text.style.display="none";
  }
}

function ajax_comment_like(x, y){
  $.ajax({
    // type을 설정합니다.
    type : 'GET',
    url : "{% url 'forms:ajax_comment_like' '00000' %}".replace(/00000/, x),
    success : function (data) {
        // 로그인 사용자 정보가 잘못 되었을 경우
        if(data["count_like"]){
          $('#countlike'+x).text(data["count_like"])
          if(data["like_state"]){
            // 좋아요를 누를 수 있음
            y.value = "좋아요"
          } else {
            // 좋아요 취소를 누를 수 있음
            y.value = "좋아요 취소"
          }
        }
    },
  });
}
</script>

<h2>번호 : {{detail_getForm.id}}</h2>
<!-- 작성자 -->
작성자 : {{detail_getForm.author.Name}}<br>

<!-- 제목 -->
<h3>제목 :</h3>
{{detail_getForm.title}} <br>

<!-- 내용 -->
<h3>내용 :</h3>
{{detail_getForm.body}} <br>

<!-- 사진 -->
<b>사진</b><br>
{% for i in detail_getForm.image_set.all %}
<a href="{{i.image.url}}" download>{{i.image.name|slice:"14:"}}</a><br>
{% endfor %}

<!-- 첨부파일 -->
<b>첨부파일</b><br>
{% for i in detail_getForm.files_set.all %}
<a href="{{i.files.url}}" download>{{i.files.name|slice:"11:"}}</a><br>
{% endfor %}
<br>
{% if detail_getForm.author.user.username == request.user.username %}
<!-- 수정하기 modal -->
<form enctype="multipart/form-data" action="{% url 'forms:mod_form' detail_getForm.category detail_getForm.id %}" method="post">
    {% csrf_token %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">수정하기</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">제목 :</label>
              <input name="title" type="text" class="form-control" id="recipient-name" value="{{detail_getForm.title}}" required>
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">내용 :</label>
              <textarea name="body" class="form-control" id="message-text" required>{{detail_getForm.body}}</textarea>
            </div>
            {% for i in detail_getForm.image_set.all %}
            {{i.image.name|slice:"14:"}}<br>
            {% endfor %}
            이미지 : <input onchange="image_change()" type="file" name="image" accept="image/*" multiple><br>
            {% for i in detail_getForm.files_set.all %}
            {{i.files.name|slice:"11:"}}<br>
            {% endfor %}
            첨부파일 : <input onchange="files_change()" type="file" name="files" multiple>
            <input id="image_modify" type="text" name="image_modify" value='' hidden>
            <input id="files_modify" type="text" name="files_modify" value='' hidden>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
          <button type="submit" class="btn btn-primary">수정하기</button>
        </div>
      </div>
    </div>
  </div>
</form>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">수정하기</button>
<a href="{% url 'forms:del_form' detail_getForm.category detail_getForm.id %}">삭제하기</a>
{% endif %}
<hr>

{% if user.is_authenticated %}
<form action="{% url 'forms:comment_write' detail_getForm.category detail_getForm.id %}" method="post">
    {% csrf_token %}
    {{ commentform.as_table }}
    <input type="submit" value="댓글달기">
</form>
{% endif %}

{% for comment in detail_getComment %}
<p>
<p>
<div>댓글 : {{comment.body}}</div>
<div>작성자 : {{comment.author.Name}} 좋아요 : <span id="countlike{{comment.id}}">{{comment.mylike}}</span></div>
<input type="button" value="{{comment|_checking:request.user.username}}" class="btn btn-primary" onclick="ajax_comment_like('{{comment.id}}', this)">
</p>
{% if user.is_authenticated %}
<p><input id="checkBox{{comment.id}}" type="checkbox" name="re_comment" value="답글" onclick="re_comment(this, 're_comment{{comment.id}}')"> 답글달기</p>
<div style="display: none;" id=re_comment{{comment.id}}>
<form action="{% url 'forms:recomment_write' detail_getForm.category detail_getForm.id comment.id %}" method="post">
    {% csrf_token %}
    {{ commentform.as_table }}
    <p><input type="submit" value="댓글달기"></p>
</form>
</div>
{% endif %}

{% for re_comment in comment.comment_set.all %}
<!-- 대체로 _set은 앞에는 class 이름이다!! -->
<p>
&nbsp;&nbsp;&nbsp;&nbsp;<b>답글 내용</b> : {{re_comment.body}}<br>
&nbsp;&nbsp;&nbsp;&nbsp;<b>작성자</b> : {{re_comment.author.Name}} 좋아요 : <span id="countlike{{re_comment.id}}">{{re_comment.mylike}}</span><br>
<input type="button" value="{{re_comment|_checking:request.user.username}}" class="btn btn-primary" onclick="ajax_comment_like('{{re_comment.id}}', this)">
</p>
{% endfor %}
<hr>

</p>
{% endfor %}


{% endblock %}