{% extends 'formlayout/formlayer.html' %}
{% block name %}
<h2>{{board_name}}</h2>
{% if user.is_authenticated %}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    글쓰기
</button>
<div class="collapse" id="collapseExample">
<br>
<form enctype="multipart/form-data" action="{% url 'forms:selectform' board_name %}" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    {{imageform.as_table}}
    {{filesform.as_table}}
    </table>
    <input type="submit" value="제출하기" />
</form>
</div>
{% endif %}
<hr>
{% for form_contents in getForm %}
<p><h3>{{form_contents.title_short}}</h3></p>
<p>
<em>{{form_contents.created_at}}</em>
작성자 : {{form_contents.author.Name}}
</p>
<a href="{% url 'forms:shw_form' form_contents.category form_contents.id %}">자세히 보기</a>
<hr>
{% endfor %}

{% endblock %}