{% extends 'formlayout/formlayer.html' %}
{% block name %}
<script>
    window.onload = function(){
    var a = 0;
    //Check File API support
    if(window.File && window.FileList && window.FileReader)
    {
        var filesInput = document.getElementById("id_image");
        filesInput.addEventListener("change", function(event){
            var files = event.target.files; //FileList object
            var output = document.getElementById("result_picture");
            output.innerHTML = ""
            var img_count = 0
            
            window.filesToUpload = []
            try {
                window.filesToUpload.push(document.getElementById("id_image").files);
            } catch (e) {
                console.log(e.message);
            }
            
            for(var i = 0; i< files.length; i++)
            {
                var file = files[i];
                //Only pics
                if(!file.type.match("image"))
                    continue;
                    
                var picReader = new FileReader();
                picReader.addEventListener("load",function(event){
                    var picFile = event.target;
                    var div = document.createElement("div");
                    div.innerHTML = "<img style='margin-right:5px;' width=80 height=80 class='thumbnail' src='" + picFile.result + "'" +
                    "title='" + picFile.name + "'/>";
                    output.insertBefore(div,null);
                });
                //Read the image
                picReader.readAsDataURL(file);
            }
        });
    }
    else
    {
        console.log("Your browser does not support File API");
    }
}

</script>
<h2>{{board_name}}
{% if user.is_authenticated %}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    글쓰기
</button>
</h2>

<div class="collapse" id="collapseExample">
<br>
<form enctype="multipart/form-data" action="{% url 'forms:selectform' board_name %}" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_p }}
    {{imageform.as_p}}
    <output style="display: flex;flex-flow:wrap; margin-bottom: 10px;" id="result_picture"></output>
    {{filesform.as_p}}
    </table>
    <input type="submit" value="제출하기" />
</form>
</div>
{% endif %}
<hr>
{% for form_contents in getForm %}
<p><h3>{{form_contents.title_short}}</h3></p>
<p>
by : {{form_contents.author.Name}}
{% if form_contents.author.Image %}
<img width="50" height="50" src={{form_contents.author.Image.url}}>
{% else %}
<img width="50" height="50" src=https://image.flaticon.com/icons/svg/634/634741.svg>
{% endif %}
</p>
<p><em>{{form_contents.created_at}}</em></p>
<a href="{% url 'forms:shw_form' form_contents.category form_contents.id %}">자세히 보기</a>
<hr>
{% endfor %}

{% endblock %}