{% extends 'youtubelayout/youtubelayer.html' %}
{% block name %}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.css" media="screen">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<div id=enters>
{% for i in response_dict %}
{% if i.added.any %} 
<div style="text-align: center; margin: 5%">
    <a style="float: right;" href="https://www.youtube.com/playlist?list={{i.id}}" target="_blank">더보기</a>
    <h2>{{i.snippet.title}}</h2>
    <div class="gallery js-flickity" data-flickity-options='{ "freeScroll": "true", "contain": true, "prevNextButtons": false,"pageDots": false,"imagesLoaded": true }'>
        {% for a,b,c in i.added %}
        <a target='_blank' class="gallery-cell" href="https://youtu.be/{{b}}">
            <img class="card-img-top" src="{{c.url}}" alt="Card image cap">
            <div class="card-body">
            <p class="card-text">{{a}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
    <!-- <br> -->
    <!-- {{i.snippet.thumbnails.high.url}}<br> -->
    <hr>
</div>
{% endif %}
{% endfor %}
</div>
{% endblock %}