{% extends 'categorylayout/categorylayer.html' %}
{% load static %}
{% block name %}

{% if user.is_superuser %}
<script>
    $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var recipient = button.data('whatever') // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)
      modal.find('.modal-title').text('New message to ' + recipient)
      modal.find('.modal-body input').val(recipient)
    })

    function myFunction(x, y, color, z) {
        document.getElementById("recipient-name").value = x;
        document.getElementById("important").value = y;
        document.getElementById("color").value = color;
        document.getElementById("color").style.backgroundColor = color;
        document.modify.action = "{% url 'category:mod_category' 12345 %}".replace(/12345/, z.toString())
    }

    function delete_category(x, y) {
      var r = confirm(`정말로 ${y} 게시판을 삭제하시겠습니까?`);

      if (r == true) {
        location.href = "{% url 'category:delete_category' 12345 %}".replace(/12345/, x);
      } else {
        return;
      }
    }
</script>
<script src="{%static 'colorfield/colorfield.js'%}"></script>
<script src="{%static 'colorfield/jscolor/jscolor.js'%}"></script>
{% endif %}

<style>
/* 커뮤니티 버튼 디자인 */
.btn .category {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn .category:after {
  content: '👀';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover .category {
  padding-right: 30px;
}

.btn:hover .category:after {
  opacity: 1;
  right: 0;
}
</style>
{% if user.is_superuser %}
<!-- 색깔 넣어주기 위한 js -->
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#category_add" aria-expanded="false" aria-controls="category_add">게시판추가</button>
<p></p>
<div class="collapse" id="category_add">
  <div class="card bg-light mb-3">
    <div class="card-header"><b>게시판 관리</b></div>
    <div class="card-body">
      <form action="{% url 'category:show_category' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-success" value="추가하기">
      </form>
    </div>
  </div>
</div>
{% endif %}
<hr>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h4>게시판 목록</h4>
<br>
{% for i in show_all %}
<p>
<a class="btn btn-lg btn-block" style="background-color:{{i.color}};color:black;box-shadow:0px 5px {{i.color}}61;" href="{% url 'forms:selectform' i.board_name %}"><b class="category">{{i.board_name}} </b></a> {% if user.is_superuser %}<div style="text-align: center;"><a class="btn btn-danger" href="javascript:delete_category({{i.id}}, '{{i.board_name}}');">🚮게시판 삭제</a>
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" onclick="myFunction('{{i.board_name}}', '{{i.important}}', '{{i.color}}','{{i.id}}');">🔁수정하기</button></div>{% endif %}
</p>
{% endfor %}
{% if user.is_superuser %}
<form action="" name="modify" method="post">
    {% csrf_token %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">게시판 이름 수정하기</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">게시판 이름 :</label>
                  <input name="board_name" type="text" class="form-control" id="recipient-name" value="{{i.board_name}}" required> 
                  <label for="important" class="col-form-label">게시판 순서 :</label>
                  <input name="important" type="text" class="form-control" id="important" value="{{i.important}}" required> 
                  <label for="color" class="col-form-label">게시판 색깔 :</label>
                  <input id="color" {{form.color}}>
                  <!-- 눈속임 사용 -->
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
              <button type="submit" class="btn btn-primary">수정하기</button>
            </div>
          </div>
        </div>
    </div>
</form>
{% endif %}

{% endblock %}